.cover-preview-close-btn {
  color: grey;
  transform: translateY(-800%);
  font-size: 1.5em;
}

.cover-preview-close-btn:hover {
  cursor: pointer;
  color: rgb(189, 189, 189);
}

@media (max-width: 600px) {
  .cover-preview-close-btn {
    transform: translateY(-1600%);
  }
}
