.alphabetical-pagenation {
  display: flex;
  justify-content: space-between;
  width: 80%;
  color: white;
  list-style-type: none;
}

.alphabetical-pagenation li {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

.alphabetical-pagenation li:hover {
  cursor: pointer;
  background-color: rgb(111, 111, 111);
  border-radius: 15px;
}
