.tags-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.tags-cont {
  display: flex;
  flex-direction: column;
}

.tags-btn {
  height: 25px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: none;
  margin: 1px;
  padding: 0;
  color: white;
  background-color: rgb(73, 73, 73);
}

.tags-btn:hover {
  cursor: pointer;
  background-color: rgb(111, 111, 111);
}

.tag-list-name {
  padding: 0 10px;
}

.tag-list-quantity {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  padding: 0 5px;
  background-color: rgb(54, 54, 54);
}
