.edit-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-color-button {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  border: none;
  margin: 5px;
}

.edit-color-button:hover {
  cursor: pointer;
}

.color-dropdown-nav,
.color-dropdown,
.color-dropdown-cover {
  position: absolute;
  left: 0;
  background-color: black;
  height: max-content;
  width: max-content;
  display: grid;
  grid-template-columns: max-content max-content max-content max-content;
  grid-template-rows: max-content max-content max-content max-content;
  border-radius: 5px;
  padding: 5px;
  margin-top: 180px;
}

.color-dropdown-cover {
  left: 50%;
  transform: translateX(-140%);
}

.color-dropdown-nav {
  margin-left: 15%;
}

ul {
  list-style-type: none;
  padding: 0;
}
