.compose-title-tags-container {
  display: grid;
  grid-template-columns: max-content auto;
  width: 100%;
}

.compose-title-tags-container h3 {
  color: white;
  width: max-content;
  margin-bottom: 0;
}

.compose-title-tags-display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  width: 100%;
  margin-bottom: 5px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.add-title-input,
.add-tags-input {
  height: 30px;
  width: 200px;
  color: white;
  background: none;
  margin: 15px 0 0 15px;
  border: none;
  border-bottom: 1px solid rgb(170, 170, 170);
  font-size: 20px;
  align-self: flex-end;
}

.add-title-input {
  width: 90%;
}

.add-title-input:focus,
.add-tags-input:focus {
  outline: none;
}

.compose-tags {
  height: max-content;
  width: max-content;
  padding: 8px 20px;
  margin: 5px 0 0 10px;
  color: white;
  background-color: rgb(73, 73, 73);
  border-radius: 5px;
  font-size: 20px;
}

.compose-tags:hover {
  cursor: pointer;
  background-color: rgb(111, 111, 111);
}
