.authors-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authors-cont {
  display: flex;
  flex-direction: column;
}

.authors-btn {
  height: 25px;
  width: 100px;
  border-radius: 5px;
  border: none;
  margin: 1px;
  color: white;
  background-color: rgb(73, 73, 73);
}

.authors-btn:hover {
  cursor: pointer;
  background-color: rgb(111, 111, 111);
}
