.edit-icons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.edit-icons {
  font-size: 3rem;
  color: grey;
}

.edit-icons:hover {
  cursor: pointer;
  color: rgb(184, 184, 184);
}
