.preview-card {
  height: 158px;
  width: 125px;
  border-radius: 10px;
  margin: 20px;
  display: grid;
  grid-template-rows: 85% 15%;
  position: relative;
  font-weight: bold;
  font-size: smaller;
  word-wrap: break-word;
  transition: 1s;
}

.edit-card:hover {
  cursor: default;
}

@media (max-width: 580px) {
  .preview-card {
    height: 100px;
    width: 79px;
  }
}
