.card,
.card-edit {
  height: 315px;
  width: 250px;
  border-radius: 5px;
  margin: 20px 10px;
  display: grid;
  grid-template-rows: 85% 15%;
  position: relative;
}

.cover,
.edit-cover {
  height: 79%;
  width: 92%;
  padding: 4%;
  position: absolute;
  border: none;
  border-radius: 5px 5px 0 0;
  resize: none;
  position: absolute;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  overflow: hidden;
}

.cover:hover {
  cursor: pointer;
}

.story,
.edit-cover-story {
  height: 79%;
  width: 92%;
  padding: 4%;
  position: absolute;
  opacity: 0;
  border: none;
  border-radius: 5px 5px 0 0;
  z-index: 2;
  font-family: 'Source Sans Pro';
  font-size: 18px;
  resize: none;
  overflow: hidden;
}

.story:hover {
  cursor: pointer;
  opacity: 0.9;
}

.story:hover ~ .cover {
  opacity: 0;
}

.title,
.edit-cover-title {
  height: 92%;
  max-width: 92%;
  padding: 4%;
  text-align: center;
  border-radius: 0 0 5px 5px;
  border: none;
  background-color: grey;
  overflow: hidden;
  grid-row-start: 2;
  grid-row-end: 3;
  font-family: 'Source Sans Pro';
  font-weight: bold;
  font-size: 20px;
  resize: none;
}

.title:hover ~ .story {
  color: white;
  background-color: rgb(0, 0, 0, 0.8);
  opacity: 0.9;
}

.title:hover ~ .cover {
  opacity: 0;
}

.title:hover {
  cursor: pointer;
  overflow: visible;
  min-height: 92%;
  height: max-content;
}

.title:focus,
.cover:focus,
.story:focus {
  outline: none;
}

.edit-cover-story:focus,
.edit-cover:focus,
.edit-cover-title:focus {
  outline: none;
}
