.small-preview-container {
  height: 227px;
  width: 325px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 17px 0 0;
}
.small-preview-card {
  height: 75%;
  width: 75%;
  border-radius: 10px;
  margin: 20px;
  display: grid;
  grid-template-rows: 10px 20px auto;
}

.small-preview-authors {
  width: 98%;
  border-radius: 10px 10px 0 0;
  border: none;
  padding: 1%;
  resize: none;
  grid-row-start: 1;
  grid-row-end: 2;
  overflow: hidden;
  font-size: 5px;
}

.small-preview-title {
  height: 98%;
  width: 98%;
  padding: 1%;
  border: none;
  resize: none;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  font-size: 15px;
}

.small-preview-area {
  height: 85%;
  width: 90%;
  padding: 5%;
  border-radius: 0 0 10px 10px;
  border: none;
  resize: none;
  grid-row-start: 3;
  grid-row-end: 4;
  font-size: 10px;
}

.small-preview-area:focus,
.small-preview-title:focus,
.small-preview-authors:focus {
  outline: none;
}

.small-preview-area:hover,
.small-preview-title:hover,
.small-preview-authors:hover {
  cursor: default;
}
