.edit-cover-container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-rows: max-content;
  height: max-content;
  width: max-content;
}

.cover-edit-colors-cont {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.cover-edit-colors-cont ul {
  color: burlywood;
  background-color: rgb(66, 66, 66);
  border-radius: 25px;
  padding: 0 20px;
}

.fc-cover-edit {
  font-size: 3em;
}

.fc-cover-edit:hover {
  cursor: pointer;
}
