.recovery-wrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.username-recovery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.username-recovery h3,
.question-recovery h3,
.new-password-wrapper h3 {
  height: 30px;
  color: rgb(244, 67, 54);
  margin: 0 auto;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

#outlined-adornment-input-recovery {
  color: orange;
}

.username-recovery-form {
  width: 80%;
  max-width: 500px;
}

.question-recovery {
  width: 80%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.security-question {
  color: orange;
  font-size: 2.5em;
  text-align: center;
}

/*---------New Password-----------*/

.new-password-wrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.new-password-form {
  width: 80%;
  max-width: 500px;
}
