.edit-compose-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}

.edit-compose-card {
  height: 75%;
  width: 75%;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 60px 100px auto;
}

.edit-options-cont {
  height: 100%;
  width: 100%;
  padding-right: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: rgb(107, 180, 180);
}

.edit-options-cont ul {
  margin: 0;
}

.edit-options-cont li {
  display: inline-block;
  height: max-content;
  width: max-content;
  margin: 0 15px;
  position: relative;
  font-family: 'Libre Franklin';
}

#black {
  border: 1px solid grey;
}

.edit-compose-saveExit-cont {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
  margin: 0 25px 7px 0;
}

.edit-compose-save {
  font-size: 1.5em;
}

.vertical-line-span {
  font-size: 30px;
  padding-bottom: 5px;
}

.edit-compose-exit {
  font-size: 1.5em;
}

.edit-compose-save:hover,
.edit-compose-exit:hover {
  cursor: pointer;
}

.edit-title-area {
  height: 94%;
  width: 94%;
  padding: 3%;
  resize: none;
  color: white;
  border-bottom: none;
  background-color: rgb(121, 80, 28);
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  font-size: 3em;
}

.edit-compose-area {
  height: 90%;
  width: 90%;
  border-radius: 0 0 10px 10px;
  border-top: none;
  resize: none;
  padding: 5%;
  color: white;
  background-color: rgb(121, 80, 28);
  grid-row-start: 3;
  grid-row-end: 4;
}

.edit-compose-area:focus,
.edit-title-area:focus {
  outline: none;
}
