.login-wrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.register-message,
.login-message {
  height: max-content;
  width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Festive';
  font-size: 5em;
  color: orange;
}

@media (max-width: 1237px) {
  .register-message,
  .login-message {
    font-size: 4em;
  }
}

@media (max-width: 995px) {
  .register-message,
  .login-message {
    font-size: 3em;
  }
}

@media (max-width: 685px) {
  .register-message,
  .login-message {
    font-size: 2em;
  }
}

.login-register-box {
  height: 50%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  transform: translateY(-10%);
}

.login-register-box h3 {
  height: 30px;
  color: rgb(244, 67, 54);
  margin: 0 auto;
  animation: animate 1.5s linear infinite;
}

@media (max-width: 430px) {
  .login-register-box h3 {
    font-size: 15px;
  }
}

@media (max-width: 350px) {
  .login-register-box h3 {
    font-size: 10px;
  }
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

.login-header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.forgot-password-link {
  color: #11cb5f;
  text-decoration: none;
  font-weight: bold;
  transform: translateY(50%);
}

.forgot-password-link:hover {
  opacity: 0.7;
}

#outlined-adornment-input {
  color: orange;
}

.login-btn-text {
  font-family: 'Festive';
  font-size: 2em;
  font-weight: bold;
  color: #11cb5f;
}

@media (max-width: 900px) {
  .login-wrapper {
    flex-direction: column;
  }
  .register-message,
  .login-message {
    width: 80%;
  }
  .register-message {
    transform: translateY(-20%);
  }
  @media (max-height: 800px) {
    .register-message,
    .login-message {
      display: none;
    }
  }
  .login-register-box {
    width: 80%;
  }
}
