.upload-container {
  display: flex;
  flex-direction: column;
  height: 35px;
  transition: 0.5s;
}

.upload-container-story {
  height: max-content;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  transition: 0.5s;
}

.upload-container h3,
.upload-container-story h3 {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.label-cont {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
}

.upload-label-story h3 {
  width: max-content;
  margin: 0;
}

.upload-label {
  position: relative;
}

.upload-label:hover,
.upload-label-story:hover {
  cursor: pointer;
}

.upload-label-hidden:hover {
  cursor: default;
}

#textFile:hover,
#imgFile:hover {
  cursor: pointer;
}

#textFile-hidden:hover,
#imgFile-hidden:hover {
  cursor: default;
}

input[type='file'] {
  opacity: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  font-size: 0;
  position: absolute;
}

.textFileInput-selected {
  display: grid;
  grid-template-columns: max-content max-content;
  transition: 0.5s;
  overflow: hidden;
}

.imgFileInput-selected:hover,
.coverFileInput-selected:hover,
.textFileInput-selected:hover {
  cursor: default;
}

.imgFileInput-selected,
.coverFileInput-selected {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: linear 0.6s;
  overflow: hidden;
  position: absolute;
  margin-top: 40px;
}

.IoClose-story {
  margin: 3px 0 0 5px;
}

.IoClose-story:hover {
  cursor: pointer;
}
