.cover-container {
  color: white;
  display: grid;
  grid-template-columns: max-content auto 60px;
  grid-template-rows: 40px max-content;
  width: 100%;
  margin: 30px 0;
}

.cover-container h3 {
  width: max-content;
  margin: 0;
}

.cover-label {
  margin-top: 10px;
}

.cover-file {
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  margin-left: 10px;
}

.upload-btn-cover {
  height: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.alter-size-cover {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: max-content;
  padding-top: 7px;
  font-size: 25px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.alter-size-button:hover {
  cursor: pointer;
}

.cover-compose-area {
  width: 96%;
  resize: none;
  padding: 2%;
  font-size: 16px;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}

.cover-compose-area:focus {
  outline: none;
}

.character-count-cover {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  z-index: 2;
  color: grey;
  height: 95%;
  width: 85%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5%;
}

.character-count-cover:hover {
  cursor: text;
}
