.upload-button-container {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}

.upload-button-container h2 {
  color: rgb(244, 67, 54);
}

.submit-cont {
  display: flex;
  justify-content: center;
}

.submit-compose-btn {
  width: max-content;
  height: max-content;
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: 'Festive';
  font-size: 2em;
  font-weight: bold;
  color: #11cb5f;
}
