.compose-wrapper {
  height: max-content;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto 0;
  overflow: hidden;
}

.must-be-logged-in {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

.must-be-logged-in h1 {
  height: max-content;
  margin-top: 150px;
  padding: 10px;
  color: rgb(255, 152, 0);
  background-color: rgb(75, 75, 75);
}

.compose-cover-story-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
