.fill-background-color {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}

.compose-cover-container {
  height: max-content;
  width: max-content;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: 55px max-content;
  margin: 50px 60px 0;
}

@media (max-width: 1019px) {
  .compose-cover-container {
    margin: 0 60px 0 60px;
  }
}

.cover-edit-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  color: white;
  font-size: 3em;
  font-weight: bold;
}

.choosefile-grid-container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.choosefile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: burlywood;
  transition: 0.5s;
}

.choosefile-container:hover {
  cursor: pointer;
}

.IoClose {
  color: burlywood;
  position: absolute;
  margin: -30px 0 0 -70px;
  z-index: 10;
}

.IoClose:hover {
  cursor: pointer;
}

.cover-edit {
  width: max-content;
  display: flex;
  flex-wrap: nowrap;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

@media (max-width: 580px) {
  .compose-cover-container {
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
  }
  .cover-edit {
    width: 100px;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .choosefile-grid-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .edit-icons-cover {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .choosefile-container {
    margin-top: 35px !important;
  }
}
