.compose-cover-container {
  height: max-content;
  width: max-content;
  display: grid;
  grid-template-columns: max-content max-content max-content;
  grid-template-rows: 55px max-content;
  margin: 50px 60px 0;
}

@media (max-width: 1038px) {
  .compose-cover-container {
    margin: 0 60px 0 60px;
  }
}

.cover-edit-title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  color: white;
  font-size: 3em;
  font-weight: bold;
}

.choosefile-grid-container {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.choosefile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: burlywood;
  transition: 0.5s;
}

.choosefile-container:hover {
  cursor: pointer;
}

.IoClose {
  color: burlywood;
  position: absolute;
  margin: -30px 0 0 -70px;
  z-index: 10;
}

.IoClose:hover {
  cursor: pointer;
}

.cover-edit {
  width: max-content;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.edit-icons-cover {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
