.card {
  height: 400px;
  width: 250px;
  border-radius: 10px;
  background-color: burlywood;
  margin: 10px;
}

.card:hover {
  cursor: pointer;
}

.story {
  padding: 5px;
  height: 90%;
}

.title {
  border-radius: 0 0 10px 10px;
  background-color: grey;
  padding: 5px;
  height: 10%;
  overflow: hidden;
}
