.link {
  text-decoration: none;
  color: rgb(235, 235, 235);
  height: max-content;
}

.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.nav-cont {
  width: max-content;
  display: flex;
  justify-content: center;
}

.nav-title {
  height: max-content;
  margin: 5px 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: orange;
  font-family: 'Festive';
}

.nav-title:hover {
  cursor: pointer;
}

.nav-item {
  display: flex;
}

.nav-link {
  height: max-content;
  margin: 5px 10px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-link:hover {
  cursor: pointer;
  border-bottom: 2px solid rgb(255, 255, 255, 0.2);
}
