.navbar {
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-family: 'Amatic SC';
  font-weight: bold;
}

.nav-cont {
  width: max-content;
  display: flex;
  justify-content: center;
}

.nav-title {
  height: max-content;
  margin: 5px 25px 0 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: orange;
  font-family: 'Festive';
}

.nav-title:hover {
  cursor: pointer;
}

.nav-item {
  display: flex;
}

.nav-link {
  color: rgb(146, 146, 146);
  height: 45px;
  font-size: 25px;
  display: flex;
  align-items: center;
  padding: 0 10px 5px;
}

.nav-link:hover {
  cursor: pointer;
  color: #11cb5f;
  background-color: #651fff;
}

.search-taskbar-input {
  height: 40px;
  width: 225px;
  border: none;
  color: orange;
  background-color: rgb(25, 25, 25);
  padding-left: 15px;
  margin-top: 3px;
  font-size: 25px;
  font-family: 'Amatic SC';
}

.search-taskbar-input:focus {
  outline: none;
}

.search-taskbar-btn {
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  margin: 3px 15px 0 0;
  border: none;
  color: orange;
  background-color: rgb(25, 25, 25);
}

.search-taskbar-btn:hover {
  cursor: pointer;
  color: #11cb5f;
  background-color: #651fff;
}

.login-nav,
.register-nav,
.compose-nav {
  height: 50px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Amatic SC';
}

.compose-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 7px;
  padding-left: 15px;
}

.compose-img {
  height: 30px;
  width: 50px;
}

.login-nav {
  color: orange;
  background-color: rgb(75, 75, 75);
}

.register-nav,
.compose-nav {
  color: rgb(75, 75, 75);
  background-color: orange;
}

.login-nav:hover {
  cursor: pointer;
  color: rgb(250, 189, 75);
  background-color: rgb(100, 100, 100);
}
.register-nav:hover,
.compose-nav:hover {
  cursor: pointer;
  color: rgb(100, 100, 100);
  background-color: rgb(250, 189, 75);
}

/* ALERT WRAPPER */
/* ALERT WRAPPER */
/* ALERT WRAPPER */

.alert-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.7);
  font-family: 'Source Sans Pro';
}

.alert-container {
  height: max-content;
  width: 300px;
  background-color: rgb(233, 233, 60);
  display: flex;
  flex-direction: column;
  transform: translateY(200%);
}

.alert-container h3 {
  margin: 0;
}

.alert-message {
  margin: 10px;
}

.alert-btn-cont {
  height: max-content;
  width: 100%;
  display: flex;
}

.alert-btn {
  height: 50px;
  width: 50%;
  border: none;
  color: seashell;
  background-color: rgb(0, 0, 0);
}

.alert-btn:hover {
  cursor: pointer;
  background-color: rgb(20, 20, 20);
}

/* Sidenav */
/* Sidenav */
/* Sidenav */

.main-sidenav {
  height: 100%;
  width: max-content;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 999;
  transition: 0.8s;
}

.main-sidenav li {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
}

.sidenav-close-btn {
  height: max-content;
  width: max-content;
  color: rgb(146, 146, 146);
  font-size: 3em;
  transform: translateY(-60%);
  border-radius: 55px;
}

.sidenav-close-btn:hover {
  cursor: pointer;
  color: #11cb5f;
  background-color: #651fff;
}

@media (max-width: 800px) {
  .search-taskbar-input {
    width: 100px;
  }
  .nav-link {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .nav-title {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
