.preview-compose-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
}
.preview-compose-card {
  height: 75%;
  width: 75%;
  border-radius: 10px;
  position: relative;
}

.preview-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 8px;
  font-size: 2em;
}

.preview-close-button:hover {
  cursor: pointer;
}

.preview-compose-area {
  height: 90%;
  width: 90%;
  border-radius: 10px;
  resize: none;
  padding: 5%;
  color: white;
  background-color: rgb(121, 80, 28);
}

.preview-compose-area:focus {
  outline: none;
}

.preview-compose-area:hover {
  cursor: default;
}
